*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .slot-container{
   text-align: center;
  margin: 2rem;
 }

 .main-heading{
   margin: 2rem;
   text-align: center;
  
 }
 .slot-box{
   width: 40%;
   text-align: center;
   margin: auto;
   background: rgb(197, 184, 184);
  border:2px solid gray
  
 }

 span{
   background: gray;
 }
 .hg-mid{
   margin: 5px;
   font-weight: 400;
   font-size: 18px;
 }